/* ----------------------------------------------------------- */
/* COLOR VARIABLES */
/* ----------------------------------------------------------- */

body{
	--primary-color: #ff3838;
	--secondary-color: #484848;
	--secondary-alpha-Dot50: rgba(72, 72, 72, 0.5);
	--secondary-alpha-Dot85: rgba(72, 72, 72, 0.85);
}